{% assign post = include.post %}
<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

  {% if post.title %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.collection == "teaching" and post.permalink == false %}
        {{ post.title }}
      {% else %}
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% endif %}
    </h2>
  {% endif %}

  {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">
      {{ post.excerpt | markdownify | strip_html | strip_newlines }}
    </p>
  {% endif %}

</article>
